body{
	margin: 0;
	padding: 0;
	font-family: "Century Gothic",sans-serif;
	background-image: linear-gradient(125deg,#157363,#443fa5,#3ae354,#eab44a,#dd3d84);
	background-size: 12000px ;
	animation: bganimation 15s infinite;
}
.kepala{
	background-color: maroon;

}
.menu{
	list-style:	none;
	position: absolute;
	margin-left: 830px;
	margin-top: 0px;

}
.menu li{
	float: left;
	margin: 15px;
}
.menu li a{
	color: white;
	text-decoration: none;
	font-size: 18px;
}
.menu li ul{
	display: none;
}
.menu li:hover ul{
	display: block;
	position: absolute;
	list-style: none;
}
.menu li:hover li{
	float: none;
}
.menu ul li a{
	text-decoration: none;
}
.logo{
	margin-top: 50px;
	margin-left: 20px;
}
.logo a{
	text-decoration: none;
	color: white;
	font-size: 40px;
	font-weight: bold;
}
#text{
	text-align: center;
	margin: 220px 0;
}
#text h1{
	font-size: 50px;
}
@keyframes bganimation{
	0%{
		background-position: 0% 50%;
	}
	50%{
		background-position: 100% 50%;
	}
	100%{
		background-position: 0% 50%;
	}
}
.copyright{
	text-align: center;
}